@import url('./commons.css');

/* kv */
.kv .kv--title {
   height: 680px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: white;
}

.kv--title__cta {
   padding: 10px 15px;
   border: 1px solid #fff;
   border-radius: 100px;
}

.kv .slide-1 {
   background: url('../images/Kercel_01.jpg') no-repeat center/cover;
}

.kv .slide-2 {
   background: url('../images/Kercel_02.jpg') no-repeat center/cover;
}

.kv .slide-3 {
   background: url('../images/Kercel_03.jpg') no-repeat center/cover;
}

.kv .slide-4 {
   background: url('../images/Kercel_04.jpg') no-repeat center/cover;
}

.kv .slide-5 {
   background: url('../images/Kercel_05.jpg') no-repeat center/cover;
}
/* kv end */

/* content */
.content--title h3 {
   margin-bottom: 60px;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #2e2e2e;
}

.content--title .line::before {
   content: '';
   width: 60px;
   height: 1px;
   background-color: #000;
   position: absolute;
   bottom: -20px;
}

.content--title p {
   color: #4d4d4d;
}

.serivce h4 {
   font-size: 1.125rem;
   color: #2e2e2e;
}

.serivce p {
   font-size: 0.875rem;
   color: #4d4d4d;
}
/* content end */

/* banner */
.banner {
   background-color: #f9fafe;
   height: 520px;
}

.banner .banner--title {
   padding: 0 54px 67px 55px;
}

.banner--title h3 {
   font-size: 1.75rem;
   color: #2e2e2e;
}

.banner--title p {
   font-size: 1.125rem;
   color: #4d4d4d;
}

.banner .banner--content {
   background-color: #fff;
   border-radius: 15px;
   padding: 0 60px 40px;
}

.banner--content h4 {
   font-size: 1.125rem;
   color: #2e2e2e;
}

.banner--content p {
   font-size: 0.875rem;
   color: #4d4d4d;
}
/* banner end */
